project
target
examples/queries
examples/data
conf/ddbt.properties
test/gen
bin
pkg
benchmarks-*.csv
.idea
*.numbers
*.iml
*.pdf
*Temp*
*.DS_Store
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
tmp/*
