project
target
examples/queries
examples/data
conf/ddbt.properties
test/gen
bin
lib
benchmarks-*.csv
.idea
*.numbers
*.iml
*.pdf
*Temp*
*.DS_Store
docs/presentations/LMSinDDBToaster/LMSinDDBToaster.aux
docs/presentations/LMSinDDBToaster/LMSinDDBToaster.log
docs/presentations/LMSinDDBToaster/LMSinDDBToaster.nav
docs/presentations/LMSinDDBToaster/LMSinDDBToaster.out
docs/presentations/LMSinDDBToaster/LMSinDDBToaster.snm
docs/presentations/LMSinDDBToaster/LMSinDDBToaster.synctex.gz
docs/presentations/LMSinDDBToaster/LMSinDDBToaster.toc
