project/project
project/target
target
examples/queries
examples/data
conf/ddbt.properties
test/gen
test/queries
bin/*
pkg
benchmarks-*.csv
.idea
*.numbers
*.iml
*.pdf
*Temp*
*.DS_Store
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
tmp/*
srccpp/lib/*.o
srccpp/lib/*.a
release/examples
release/lib
dbtoaster_release
release/LICENSE
release/README
release/doc
*.o
mmap
