spark.master.url=yarn-cluster
#spark.master.url=yarn-client
#spark.master.url=local[11]
#spark.home.dir=/data/hadoop/spark-1.5.0-bin-hadoop2.6/
spark.home.dir=/data/lab/dbtoaster/spark
spark.jars=

#spark.local.dir=/Users/nikolic/Temp
spark.eventLog.dir=hdfs:///user/nikolic/dbtoaster/tmp/spark-events
#spark.eventLog.dir=file:/tmp/spark-events
spark.eventLog.enabled=true
#spark.eventLog.enabled=false
#spark.executor.javaopts=

spark.partitions.num=400
spark.driver.memory=40G
spark.executor.memory=15G
spark.executor.cores=2

dist.input.path=hdfs:///user/nikolic/dbtoaster/experiments/datasets/tpch
log.output.path=hdfs:///user/lab/dbtoaster/experiments/logs
