spark.master.url=local[5]
spark.home.dir=/Users/nikolic/Applications/spark
spark.jars=/Users/nikolic/DBToaster/DDBToaster/pkg/ddbt_gen.jar

#spark.local.dir=/Users/nikolic/Temp
spark.eventLog.dir=/Users/nikolic/Temp
spark.eventLog.enabled=true
#spark.executor.javaopts=

#spark.cores.max=2
#spark.executor.memory=2g
spark.partitions.num=5
dist.input.path=/Users/nikolic/EPFL/Projects/DBToaster/cornell_db_maybms/dbtoaster/experiments/data/tpch/
