#spark.master.url=local[5]
spark.master.url=spark://icdhcp-1-177.epfl.ch:7077
spark.home.dir=/Users/nikolic/Applications/spark-1.2.0-bin-hadoop1
spark.slaves.num=5
spark.partitions.num=5
#spark.executor.memory=2g
spark.jars=/Users/nikolic/DBToaster/DDBToaster/pkg/ddbt_gen.jar:/Users/nikolic/DBToaster/DDBToaster/pkg/ddbt_lib.jar
#spark.jars=/Users/nikolic/DBToaster/DDBToaster/target/scala-2.10/dbtoaster_2.10-2.1.jar:/Users/nikolic/.ivy2/cache/org.apache.spark/spark-core_2.10/jars/spark-core_2.10-1.2.0.jar
#spark.jars=/Users/nikolic/DBToaster/DDBToaster/target/scala-2.10/dbtoaster_2.10-2.1.jar:/Users/nikolic/Applications/spark-1.2.0-bin-hadoop1/lib/spark-assembly-1.2.0-hadoop1.0.4.jar
#spark.cores.max=2
#spark.tmp.dir=/Users/nikolic/Temp
#spark.akka.threads=16
